.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.counter {
  background-color: #61dafb;
  padding: 2rem;
  border-radius: 10px;
  margin-top: 2rem;
}

.counter h2 {
  font-size: 4rem;
  margin: 0;
  color: #282c34;
}

.counter p {
  margin: 0;
  font-size: 1.2rem;
  color: #282c34;
}
